<html>
 <head>
 <title>Programming Practice</title>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	 <style>
		 pre{
		 font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
		 margin-bottom: 10px;
		 overflow: auto;
		 width: auto;
		 padding: 5px;
		 background-color: #eee;
		 width: 650px!ie7;
		 padding-bottom: 20px!ie7;
		 max-height: 600px;
		 }
	 </style>
 </head>
 <body>
	<h1>How it works</h1>
	<p> A globally ambiguous sentence is one that has at least two distinct interpretations. 
	In this type of ambiguity, after one has read or heard the entire sentence, the ambiguity is still present. 
	Rereading the sentence cannot resolve the ambiguity because no feature of the representation (i.e. word order) distinguishes the distinct interpretations. 
	Global ambiguities are often unnoticed because the reader tends to choose the meaning he or she understands to be more probable. 
	One example of a global ambiguity is "The woman held the baby in the green blanket." In this example, the baby could be wrapped in the green blanket or the woman could be using the green blanket as an instrument to hold the baby. </p>
	
	<p> Press F12 to view the source code </p>
	
	<p> Convert Obj model to js with python script provided by three.js called...</p>
	-texture it
	-learn orbit controll
	<pre>
	 var jsonLoader = new THREE.JSONLoader();
	 jsonLoader.load( "obj/tree.js", createScene );			
	 
	 function createScene( geometry, materials ) {
	 var mesh = new THREE.Mesh( geometry, new THREE.MeshFaceMaterial( materials ) );
	 mesh.scale.set(10,10,10);
	 scene.add(mesh);
	 }
	 <pre>
<p>
	<pre>&ltscript&gt &lt/script&gt</pre>
</p>
	<h1> Resources </h1>
	<a href="http://threejs.org/">http://threejs.org/</a><br>
	<a href="http://threejs.org/docs/">http://threejs.org/docs</a><br>
	<a href="https://www.script-tutorials.com/webgl-with-three-js-lesson-10/">Script-Tutorials</a><br>	
	<a href="https://stemkoski.github.io/Three.js/">Stemkoski</a><br>
	<br><a href="/">Back</a>
		
	<script>
		
	</script>
		
 </body>
</html>
